.profilePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 16.094vw 23.54vw 4.58vw 1fr 9.3vw;  /* 1fr -> 46.486vw */
    grid-template-rows: 12vh 35.89vh 5.741vh 3.98vh 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.backwardButton { 
    grid-area: 1 / 1 / 2 / 2;
    place-self: end center;
    margin-bottom: 3.241vh;
    
 }

.uploadAndCreateButtons { 
    grid-area: 5 / 1 / 6 / 2;
    place-self: start center;
    position: relative;
 }
.userInfoContainer { 
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 55.531% 1fr;
    grid-template-rows: 37.29% 1fr;
 }
.userInfoContainer UserAvatar {
    grid-area: 1 / 1 / 3 / 2;
 }
.userInfoContainer .userNameContainer {
    grid-area: 1 / 2 / 2 / 3;
    place-self: end end;
    display: flex;
    flex-direction: row;
    place-items: center end;
    margin-bottom: 1.389vh;
}

.userInfoContainer .userNameContainer p {
    font-size: 2.7vh;
    font-weight: 600;
    color: #FEF6E1;
    margin: 0 0.6566vw 0 0;
}

.userInfoContainer .userNameContainer .renameIconContainer {
    width: 1.355vw; /* 设置图标的宽度 */
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInfoContainer .userNameContainer .renameIconContainer svg {
    width: 100%; /* SVG 自适应容器宽度 */
    height: 100%; /* SVG 自适应容器高度 */
    fill: #FEF6E1;
}

.userInfoContainer .userDetailContainer{
    grid-area: 2 / 2 / 3 / 3;
    justify-self: end;
    margin-top: 0.926vh;
}

.userInfoContainer .userDetailContainer .userDetailSimulator{
    border-radius: 5px;
    height: 2.778vh;
    width: 9.375vw;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 0.926vh;
}


.markedPictureContainer { 
    grid-area: 2 / 4 / 3 / 5;
    justify-self: stretch stretch;
    border-radius: 2.5253vw; /* 圆形边框 */
    margin-bottom: 7.963vh;

    display: grid;
    grid-template-rows: 1fr 29.667%;
    grid-template-columns: 1fr;
}



.markedPictureContainer .carousel img { 
    /* grid-area: 1 / 1 / 3 / 2;
    justify-self: stretch stretch;
    border-radius: inherit; */
    /* border-radius: 2.5253vw;  */
    width: 46.49vw;
    height: 27.93vh;  /* 35.89vh - 7.963vh = 27.92vh*/
}

.markedPictureContainer .lowerMark { 
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 0px 0px 2.5253vw 2.5253vw;
    justify-self: stretch stretch;
    background-color: rgba(254, 246, 225, 0.3); 
    position: relative;
}

.markedPictureContainer .lowerMark div {
    position: absolute;
    right: 2.0833vw;
    bottom: 0.2222vh;
    display: flex;
    flex-direction: row;
    place-items: center center;
}

.markedPictureContainer .lowerMark p {
    font-size: 2.2222vh;
    font-weight: 600;
    color: #FEF6E1;

    margin-right: 0.67708vw;
}

.markedPictureContainer .lowerMark svg {
    height: 2.7778vh; /* 设置图标的宽度 */
    aspect-ratio: 1.03333;
    fill: #FEF6E1;
}



.personalProjectText { 
    grid-area: 4 / 2 / 5 / 3;
}


.personalProjectContainer { 
    grid-area: 5 / 2 / 6 / 3; 
    display: grid;
    grid-template-rows: repeat(auto-fill,  11.1111vh); /* 每个方格最小宽度100px，自适应 */
    grid-template-columns: auto;
    row-gap: 1.1111vh; /* 设置行间距和列间距 */
    padding: 1vh; /* 可选：容器内边距 */
    overflow-y: auto;
    overflow-x: hidden;
}

.projectGridItem {
    /* width: 21.875vw;
    height: 11.111vh; */

    background-color: rgba(222, 198, 162, 0.5);
    height: 11.1111vh;
    width: 21.875vw;
    position: relative;
}
.projectGridItem img {
    border-radius: 0.35vw;
}

.visibleIconContainer {
    position: absolute;
    right: 0.45vw;
    bottom: 0.5vh;
    width: 1.0416667vw;
}
.visibleIconContainer svg {
    width: 100%; /* SVG 自适应容器宽度 */
    height: 100%; /* SVG 自适应容器高度 */
    fill: #FFFFFF;
}
.personalUploadText { 
    grid-area: 4 / 4 / 5 / 5; 
}
.personalUploadContainer { 
    grid-area: 5 / 4 / 6 / 5; 
    display: grid;
    grid-template-rows: repeat(auto-fill,  11.1111vh); /* 每个方格最小宽度100px，自适应 */
    grid-template-columns: repeat(2, 21.875vw);
    row-gap: 1.1111vh;
    column-gap: 0.9375vw;
    padding: 1vh; /* 可选：容器内边距 */
    overflow-y: auto;
    overflow-x: hidden;
}

:global(.personalProjectAndUploadText) {
    text-align: left;
    vertical-align: middle;
    font-size: 1.25vw;
    font-weight: 600;
    line-height: auto;
    color: #625745;
    padding: 1vh; /* 可选：容器内边距 */
    margin: 0;
}

/* 上传 创建按钮 */
.buttons {
    margin-bottom: 3.241vh;
    background-color: #EADEC7;
}

.popupContainer {
    background-color: #625745;
    width: 10.416667vw;
    height: 11.48vh;
    border-radius: 0.3125vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 3px;
    z-index: 10;
    animation: slideIn 0.3s ease-out;
    top: 13vh;
    right: -10.416667vw; /* 向右弹出容器 */

    position: absolute;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.personalProjectPopupContainer {
    top: 0;
    right: -0.75vw; /* 向右弹出容器 */
}

.popupContainer .popupButton {
    background-color: #FFFCF6;
    width: 9.5833vw;
    height: 4.63vh;
    border-radius: 0.3125vw;
    border-width: 0;
    padding: 1vh; /* 可选：容器内边距 */
    margin: 0;

    font-size: 1.25vw;
    font-weight: 600;
    line-height: auto;
    color: #625745;
    

    display: flex;         /* 使用 flex 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center;   /* 垂直居中 */
    
}


/* 定义上半部分背景容器 */
.topBackground {
    grid-area: 1 / 1 / 3 / 6; 
    /* height: 47.87vh; 设置高度为 47.87vh */
    background-image: url('../../asset/Background.png'); /* 替换为你的长图路径 */
    background-size: cover; /* 确保背景图片填充整个容器 */
    background-position: center center; /* 设置图片居中显示 */
    background-repeat: no-repeat; /* 防止背景重复 */
    z-index: -2;
}

.topBackgroundMask {
    grid-area: 1 / 1 / 3 / 6; 
    /* width: 100%;
    height: 47.87vh; */
    background-color: #997E60; /* 半透明颜色 */
    opacity: 0.4; /* 设置透明度 */
    z-index: -1; /* 放在背景层之上 */
    pointer-events: none; /* 防止影响交互 */
}


