.testPage {
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    grid-template-rows: repeat(2, 25vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 100vw;
    height: 100vh;
    }

.text {
    grid-area: 1 / 1 / 2 / 3;
}
    
/* .carousel { grid-area: 1 / 2 / 2 / 3; } */
.img1 { grid-area: 1 / 2 / 3 / 3;}

/* .ant-carousel {  无效
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 100%;
} */

/* .carouselStyle { 
    grid-area: 2 / 2 / 3 / 3;

} */

.carouselStyle img {
    width: 35vw;
    height: 25vh;
}

.cItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 让图片在父容器中居中 */
    width: 100%;
}

