.artGalleryPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.exitButton {
    position: absolute;
    top: 3.241vh;
    left: 2.292vw;
}

.gridContainer {
    margin-top: 12.7778vh;
    margin-bottom: 10.74vh;
    display: grid;
    grid-template-columns: repeat(3, 26.042vw); /* 每个方格最小宽度100px，自适应 */
    grid-template-rows: auto; /* 每个方格最小宽度100px，自适应 */
    grid-column-gap: 3.542vw;
    grid-row-gap: 6.48vh;    
    width: calc(3 * 26.042vw + 2 * 3.542vw); /* 动态宽度计算 */
}

.gridItem {
    place-self: stretch stretch;
    height: 35.185vh;
    width: 26.042vw;
    position: relative;
}

.gridItem img {
    border-radius: 0.35vw;
    
}

.gridItem .itemMask {
    position: absolute;
    bottom: 0;

    z-index: 10;
    background-color: #FEF6E180;
    border-radius: 0.35vw;
    height: 9.26vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gridItem .itemMask p {
    font-size: 1.875vw;
    text-align: center;
}

.topBackground, .bottomBackground{
   
}

.topBackground {
    height: 27.78vh;
    background-position: center top; /* 设置图片居中显示 */
    width: 100%; /* 确保宽度占满父级容器 */
    background-image: url('../../asset/Background.png'); /* 替换为你的长图路径 */
    background-size: cover; /* 确保背景图片填充整个容器 */
    background-repeat: no-repeat; /* 防止背景重复 */

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomBackground {
    height: 21vh;
    background-position: center bottom; /* 设置图片居中显示 */
    width: 100%; /* 确保宽度占满父级容器 */
    background-image: url('../../asset/Background.png'); /* 替换为你的长图路径 */
    background-size: cover; /* 确保背景图片填充整个容器 */
    background-repeat: no-repeat; /* 防止背景重复 */
}

/* search-box (from top page)*/

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 7.4074vh;
    margin: 0;
    margin-top: 4.5vh;
  }

.searchBox {
    border-radius: 4.63vh;
    height: 7.4074vh;
    width: 54.17vw;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 3.241vh;
}

.searchInput {
    flex-grow: 1;
    outline: none;
    border-width: 0;
    height: 6.7vh;
    margin: 0 1vh;

    text-align: left;
    vertical-align: middle;
    font-size: 3vh;
    /* font-family: Inter; */
    font-weight: 800;
    line-height: auto;
    color: #997e60;
}

.searchInput::placeholder {
    text-align: left;
    vertical-align: middle;
    font-size: 3vh;
    font-family: 'Inter';
    font-weight: 800;
    line-height: auto;
    color: #997e60;
  }

.searchIconContainer {
    width: 4vh; /* 设置图标的宽度 */
    height: 4vh; /* 设置图标的高度 */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1vh;
    fill: #ffffff;

}

.searchIconContainer svg {
    width: 100%; /* SVG 自适应容器宽度 */
    height: 100%; /* SVG 自适应容器高度 */
}




